@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;   
}

a {
  color: inherit;
  text-decoration: none;
  border-radius: 20%/50%;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #88effd;
  background-image: url(../public/Nomadicity3.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.Navbar {
  display: flex;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}
.mainContainer {
  display: grid;
  grid-template-columns: auto auto auto;
  align-content: center;
  gap: 2em;
  /* align-content: space-around; */
  box-shadow: rgba(99, 98, 98, 0.35) 0px 5px 15px;
  border-radius: 2%;
  width: 690px;
  margin-top: 5rem;
}
.signOutPage {
  display: flex;
  text-align: center;
  height: 100vh;
  width: 100vw;
  flex-flow: column nowrap;
  align-content: center;
}
.signInBtn {
  display: flex;
  align-self: center;
  margin-top: 1em;
  margin-bottom: 7rem;
  border-radius: 8px;
}
.signBtn {
  background: #F8C7CC;
  color: #E2FAFA;
  font-size: 1.5rem;
  width: 12rem;
}
.welcomeMsg{
  color: white;
}
.navLogo {
  height: 2.5rem;
  margin-left: 1rem;
}
.card-img-top{
  height: 390px;
  width: 300px;
  border-radius: 8px;
}
.gridCard {
  margin: 10px;
  border-radius: 20px;
  border: none;
}
img {
  border-radius: 20px;
  margin: 5px;
}
.editBtn{
  margin: .5rem;
  border-radius: 20%/50%;
}
.card-top {
  display: flex;
  flex-flow: row nowrap;
  margin: auto;
}
.card-mid {
  width: 10rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.card-bottom {
  width: 90vw;
  display: flex;
  margin-top: 10rem;
  justify-content: space-between;
}
.card-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.card-description{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.columnOne {
  display: flex;
  margin-right: 20px;
}
.columnTwo {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: auto;
  width: 40rem;
}
.cardBtns{
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.signOutBtn:hover {
  background: #D68181;
}
.formContainer{
  margin: 150px 30rem;
  width: 60rem;
  align-items: center;
}
.card-body{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.signOutBtn{
  background: #D68181;
}
.date-created{
  display: flex;
  align-content: flex-end;
  justify-content: center;
  margin-top: 10px;
}
.hike-card{
  margin: 150px;
  gap: 10px;
}
.hike-map{
  margin: 150px auto 10px 10px;
}
.mapContainer{
  display: flex;
  margin: 10px;
}
.icons {
  border-radius: 50%;
  background: transparent;
  border: hidden;
}
.icons:hover{
  background: #D68181;
}
a:hover{
  background: #D68181;
}
.container{
  margin: 0px;
}
button {
  display: block;
}
img,
video{
  display: flex;
  align-self: center;
  justify-content: center;
  width: 270px;
  margin: 10px auto;
  color: black;
  border-radius: 20%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.cam-btn, .reset-btn{
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 70px;
  margin: 10px auto;
  background-color: #EBFBDA; 
  color: black; 
  border-radius: 20%/50%; 
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
/* .reset-btn{
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 70px;
  margin: 10px auto;
  background-color: #EBFBDA; 
  color: black; 
  border-radius: 20%/50%; 
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
} */
