@import 'bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;   
}
a {
  color: inherit;
  text-decoration: none;
  border-radius: 20%/50%;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #88effd;
  background-image: url(../public/Nomadicity3.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.Navbar {
  display: flex;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}
.navbar-brand {
  font-family: 'Dancing Script', cursive;
  font-weight: normal;
  font-size: 40px;
  color: #F8C7CC;
  margin:5px;
}
.mainContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  max-width: 100vw;
  gap: 2em;
  /* align-content: space-around; */
  /* box-shadow: rgba(99, 98, 98, 0.35) 0px 5px 15px; */
  border-radius: 2%;
  margin-top: 5rem;
}
.signOutPage {
  display: flex;
  justify-content: center;
  align-items:flex-end;
  text-align: center;
  height: 90vh;
  padding: 30px;
  max-width: 100vh;
  margin: 0 auto;
}
.signInBtn {
  display: flex;
  justify-content: flex-end;
  /* position: absolute;   */
  margin-top: 2em;
  margin-bottom: 2rem;
  border-radius: 8px;
}
.signBtn {
  background: #F8C7CC;
  color: #E2FAFA;
  font-size: 1.5rem;
  width: 12rem;
}
.welcomeMsg{
  color: white;
  margin:10px;
}
.navLogo {
  height: 2.5rem;
  margin-left: 1rem;
}
.card-img-top{
  height: 390px;
  width: 300px;
  border-radius: 8px;
  margin-left: 5px;
}
.gridCard {
  margin: 10px;
  border-radius: 20px;
  border: none;
}
img {
  border-radius: 20px;
  margin: 5px;
}
.editBtn{
  margin: .5rem;
  border-radius: 20%/50%;
}
.card-top {
  display: flex;
  flex-flow: row nowrap;
  margin: auto;
}
.card-mid {
  width: 10rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.card-bottom {
  width: 90vw;
  display: flex;
  margin-top: 10rem;
  justify-content: space-between;
}
.card-title {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 10px;
  padding: 0.5em;
}
.columnTwo {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  margin: auto;
  width: 200px;
}
.card-body {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: flex-end;
  justify-content: center;
  margin: 10px;
}
.columnOne {
  display: flex;
  margin-right: 20px;
}

.cardBtns{
  display: flex;
  margin:20px 10px;
  justify-content: center;
}
.signOutBtn:hover {
  background: #ffffff;
  color: #F8C7CC;
}
.formContainer{
  justify-content: center;
  margin: 50px 30rem;
  width: 35rem;
  align-items: center;
}
.form-control{
  width:30rem;
}
.card-body{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.signOutBtn{
  display:flex;
  background: #D68181;
}
.bold-text{
  font-weight:bold;
  text-decoration: underline;
}
.date-created, .location-created{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin: 2px;
}
.hike-card {
  margin: auto;
  gap: 10px;
}
.hike-map{
  margin: 150px auto 10px 10px;
}
.mapContainer{
  display: flex;
  margin: 10px;
}
.icons {
  border-radius: 50%;
  background: transparent;
  border: hidden;
}
.icons:hover{
  background: #ffffff;
  color: #D68181;
  width: 8rem;
}
.nav-link{
  width: 70px;
  color: #F8C7CC;
  margin-top: 5px;
}
a:hover{
  text-align: center;
  background: #ffffff;
  color: #D68181;
  width: 8rem;
}
.container{
justify-content: center;
}
Button {
  display: block;
}
img,
video{
  display: flex;
  align-self: center;
  justify-content: center;
  width: 15rem;
  margin: 10px auto;
  color: black;
  border-radius: 20%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.cam-btn, .reset-btn, .switch-cam{
  display: flex;
  justify-content: center;
  width: 80px;
  margin: 10px auto;
  background-color: #EBFBDA; 
  color: black; 
  border-radius: 20%/50%; 
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#geo-btn{
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 110px;
  margin: 10px auto;
  background-color: #EBFBDA; 
  color: black; 
  border-radius: 20%/50%; 
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}  
.hikeContainer, .boardContainer{
  width: 30rem; 
  height: 40vh; 
  border-radius: 2%; 
  background-color: #FFFFFF; 
  display: flex;
  align-content: center;
  margin:15px;
}
.dropdown-menu{
  text-align: center;
  align-content: center;
}
